.navbar {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: auto;

}

.lien {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    font-weight: bold;
}

.lien:hover {
    background-color: rgb(255, 196, 196);
    border-radius: 10px;
}

.section {
    text-align: center;
}